pycache__/
__pycache__/
*.pyc
*.pyo

venv/
.env/
.venv/

data/preprocessed/
data/raw/images
data/raw/prev_images
data/raw/supplement_images
data/raw/supplement_images
data/raw/yolo/images
data/raw/yolo/labels

cropped/
preprocessed/
segmented/
sift_features/
models/
